/* general styling for HashLink */
.HashLink {
  position: relative;
  text-decoration: none;
  color: white;
  letter-spacing: 0.031rem;
  padding: 0.4rem 0;
  display: inline-block;
  margin: 0 1rem; /* separation between element in navbar */
  overflow: hidden;
}

/* underline effect */
.HashLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.188rem;
  height: 0.188rem;
  width: 100%; /* start with full width */
  background-color: white;
  transform: scaleX(0); /* underline initially hidden */
  transform-origin: right; /* underline disappears from left */
  transition: transform 0.5s ease-in-out;
}

.HashLink:hover::after {
  transform-origin: left; /* underline appears from left */
  transform: scaleX(1); /* underline expands full width */
}

.HashLink:hover {
  color: white;
}

/* Remove underline effect on mobile */
@media (max-width: 575px) {
  .HashLink::after {
    transform: scaleX(0) !important;
  }
}
